<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html_head">
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
<title>[[${pageTitle}]]  Jona Agency</title>
<link rel="icon" type="images/x-icon" href="/images/LOGO JA.jpg" />
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body >

<div th:replace="fragments :: header" /></div>
<div th:replace="sliding :: slide" /></div>
<div th:replace="fragments :: third_div" /></div>
<div th:replace="fragments :: google" /></div>
<div th:replace="fragments :: footer" /></div>




</body>
</html>